<!-- header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" routerLink="/home">
            <img src="assets/images/logo.png" class="logo img-fluid" alt="">Nicole Leifheit
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-toggle " id="navbarNavAltMarkup">
            <ul class="navbar-nav mx-lg-auto">
                <li>
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/sobre" routerLinkActive="active">Sobre Mim</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/galeria" routerLinkActive="active">Galeria</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/contato" routerLinkActive="active">Contato</a>
                </li>
            </ul>
            <!-- Redes Sociais -->
            <div class="header-social-abls text-center mt-lg-0 mt-4">
                <ul class="list-unstyled">
                    <li *ngIf="institutionalData.facebook">
                        <a target=”_blank” [href]="institutionalData.facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li *ngIf="institutionalData.whatsApp" class="mx-1">
                        <a target=”_blank” [href]="institutionalData.whatsApp">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li *ngIf="institutionalData.instagram">
                        <a target=”_blank” [href]="institutionalData.instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //Redes Sociais -->
        </div>
    </nav>
</header>
<!-- //header -->