<!-- pricing -->
<section *ngIf="beautyServices" class="pricing py-5" id="pricing">
  <div class="container-fluid">
    <div class="inner-sec-ablayouts">
      <div class="row">
        <div class="col-xl-5 price-left p-0">

        </div>
        <div class="col-xl-7 price-right">
          <div class="tabs">
            <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
              <li *ngIf="beautyServices[0].length > 0" class="nav-item">
                <a class="nav-link active" id="pills-makeup-tab" data-toggle="pill" href="#pills-makeup" role="tab"
                  aria-controls="pills-makeup" aria-selected="true">Makeup</a>
              </li>
              <li *ngIf="beautyServices[1].length > 0" class="nav-item">
                <a class="nav-link" id="pills-eyebrows-tab" data-toggle="pill" href="#pills-eyebrows" role="tab"
                  aria-controls="pills-eyebrows" aria-selected="false">Sobrancelhas</a>
              </li>
              <li *ngIf="beautyServices[2].length > 0" class="nav-item">
                <a class="nav-link" id="pills-facial-tab" data-toggle="pill" href="#pills-facial" role="tab"
                  aria-controls="pills-facial" aria-selected="false">Depilação</a>
              </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-makeup" role="tabpanel" aria-labelledby="pills-makeup-tab">
                <div class="menu-grids mt-4">
                  <div class="row t-in">

                    <div *ngFor="let makeup of beautyServices[0]" class="col-md-6 mb-3 price-main-info text-center">
                      <div class="price-inner card box-shadow">
                        <div class="card-body">
                          <h4 class="text-uppercase mb-3">{{makeup.title}}</h4>
                          <h5 class="card-title pricing-card-title">
                            <span class="align-top">R$</span>{{makeup.price}}
                          </h5>
                          <ul class="pricing-lists list-unstyled mt-3 mb-4">
                            <li *ngFor="let keyword of makeup.keywords">{{keyword}}</li>
                          </ul>
                          <div class="log-in mt-md-3 mt-2">
                            <a class="btn text-uppercase" routerLink="/servicos">
                              Saiba Mais</a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-eyebrows" role="tabpanel" aria-labelledby="pills-eyebrows-tab">
                <div class="menu-grids mt-4">
                  <div class="row t-in">
                    <div *ngFor="let eyebrow of beautyServices[1]" class="col-md-6 mb-3 price-main-info text-center">
                      <div class="price-inner card box-shadow">
                        <div class="card-body">
                          <h4 class="text-uppercase mb-3">{{eyebrow.title}}</h4>
                          <h5 class="card-title pricing-card-title">
                            <span class="align-top">R$</span>{{eyebrow.price}}
                          </h5>
                          <ul class="pricing-lists list-unstyled mt-3 mb-4">
                            <li *ngFor="let keyword of eyebrow.keywords">{{keyword}}</li>
                          </ul>
                          <div class="log-in mt-md-3 mt-2">
                            <a class="btn text-uppercase" routerLink="/servicos">
                              Saiba Mais</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-facial" role="tabpanel" aria-labelledby="pills-facial-tab">
                <div class="menu-grids mt-4">
                  <div class="row t-in">
                    <div *ngFor="let depilation of beautyServices[2]" class="col-md-6 mb-3 price-main-info text-center">
                      <div class="price-inner card box-shadow">
                        <div class="card-body">
                          <h4 class="text-uppercase mb-3">{{depilation.title}}</h4>
                          <h5 class="card-title pricing-card-title">
                            <span class="align-top">R$</span>{{depilation.price}}
                          </h5>
                          <ul class="pricing-lists list-unstyled mt-3 mb-4">
                            <li *ngFor="let keyword of depilation.keywords">{{keyword}}</li>
                          </ul>
                          <div class="log-in mt-md-3 mt-2">
                            <a class="btn text-uppercase" routerLink="/servicos">
                              Saiba Mais</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //pricing -->