<!-- banner -->
<div class="main-banner-abl-2">
</div>
<!-- //banner -->

<!-- welcome section -->
<div class="banner-bottom-agile text-center py-5">
  <div class="container py-xl-5 py-lg-3">
    <!-- heading title -->
    <div class="mb-lg-5 mb-sm-4 mb-3">
      <h3 class="title-wthree mb-2">
        Cadastro<span class="mt-2 text-uppercase font-weight-bold">Institucional</span></h3>
    </div>
    <!-- //heading title -->
    <p class="para-bottom-wthree">Configure suas redes sociais, informações de contato e local de atendimento.</p>
  </div>
</div>
<!-- //welcome section -->

<!-- form -->
<div class="py-xl-5 py-lg-3 bg-light">
  <form class="container" novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
    <div class="form-group">
      <label>Facebook</label>
      <input type="text" placeholder="Digite seu Facebook" formControlName="facebook" class="form-control" [ngClass]="{ 'is-invalid': form.get('facebook').touched && form.get('facebook').hasError('required') }" />
      <div *ngIf="form.get('facebook').touched && form.get('facebook').hasError('required')" class="invalid-feedback">
        Facebook é necessário.
      </div>
    </div>
    <div class="form-group">
      <label>WhatsApp</label>
      <input type="text" placeholder="Digite seu WhatsApp" formControlName="whatsApp" class="form-control" [ngClass]="{ 'is-invalid': form.get('whatsApp').touched && form.get('whatsApp').hasError('required') }" />
      <div *ngIf="form.get('whatsApp').touched && form.get('whatsApp').hasError('required')" class="invalid-feedback">
        WhatsApp é necessário.
      </div>
    </div>
    <div class="form-group">
      <label>Instagram</label>
      <input type="text" placeholder="Digite seu Instagram" formControlName="instagram" class="form-control" [ngClass]="{ 'is-invalid': form.get('instagram').touched && form.get('instagram').hasError('required') }" />
      <div *ngIf="form.get('instagram').touched && form.get('instagram').hasError('required')" class="invalid-feedback">
        Instagram é necessário.
      </div>
    </div>
    <div class="form-group">
      <label>Telefone</label>
      <input type="text" placeholder="Digite seu Telefone" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': form.get('phone').touched && form.get('phone').hasError('required') }" />
      <div *ngIf="form.get('phone').touched && form.get('phone').hasError('required')" class="invalid-feedback">
        Telefone é necessário.
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" placeholder="Digite seu Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': form.get('email').touched && form.get('email').hasError('required') }" />
      <div *ngIf="form.get('email').touched && form.get('email').hasError('required')" class="invalid-feedback">
        Email é necessário.
      </div>
    </div>

    <div formGroupName="location">
      <div class="form-group">
        <label>Endereço</label>
        <input type="text" placeholder="Digite seu Endereço" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': form.get('location').get('address').touched && form.get('location').get('address').hasError('required') }" />
        <div *ngIf="form.get('location').get('address').touched && form.get('location').get('address').hasError('required')"
          class="invalid-feedback">
          Endereço é necessário.
        </div>
      </div>
      <div class="form-group">
        <label>Cidade</label>
        <input type="text" placeholder="Digite sua Cidade" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': form.get('location').get('city').touched && form.get('location').get('city').hasError('required') }" />
        <div *ngIf="form.get('location').get('city').touched && form.get('location').get('city').hasError('required')"
          class="invalid-feedback">
          Cidade é necessário.
        </div>
      </div>
      <div class="form-group"> <label>Latitude</label>
        <input type="text" placeholder="Digite sua latitude" formControlName="latitude" class="form-control" [ngClass]="{ 'is-invalid': form.get('location').get('latitude').touched && form.get('location').get('latitude').hasError('required') }" />
        <div *ngIf="form.get('location').get('latitude').touched && form.get('location').get('latitude').hasError('required')"
          class="invalid-feedback">
          Latitude é necessário.
        </div>
      </div>
      <div class="form-group">
        <label>Longitude</label>
        <input type="text" placeholder="Digite sua longitude" formControlName="longitude" class="form-control" [ngClass]="{ 'is-invalid': form.get('location').get('longitude').touched && form.get('location').get('longitude').hasError('required') }" />
        <div *ngIf="form.get('location').get('longitude').touched && form.get('location').get('longitude').hasError('required')"
          class="invalid-feedback">
          Longitude é necessário.
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn nick-submit mt-4 submit" [disabled]="form.invalid">Salvar informações</button>
    </div>
  </form>
</div>
<!-- //form -->

<app-categories></app-categories>