<!-- banner -->
<div class="main-banner-abl-2">
</div>
<!-- //banner -->

<!-- welcome section -->
<div class="banner-bottom-agile text-center py-5">
  <div class="container py-xl-5 py-lg-3">
    <!-- heading title -->
    <div class="mb-lg-5 mb-sm-4 mb-3">
      <h3 class="title-wthree mb-2">
        Cadastro<span class="mt-2 text-uppercase font-weight-bold">Institucional</span></h3>
    </div>
    <!-- //heading title -->
    <p class="para-bottom-wthree">Configure suas redes sociais, informações de contato e local de atendimento.</p>
  </div>
</div>
<!-- //welcome section -->

<!-- grids -->
<div class="serives-agile py-5 bg-light">
  <div class="container py-xl-5 py-lg-3">
    <div class="row support-bottom">
      <pre>{{ institutionalData | json }}</pre>
    </div>
  </div>
</div>
<!-- //grids -->

<app-categories></app-categories>