
<!-- categories -->
<div class="models-agile py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="row">
      <div class="col-xl-5 col-md-6 right-models text-center mt-md-0 mt-5">
        <div class="row">
          <div class="col-6">
            <a routerLinkActive="active" routerLink="/cadastro/institucional" class="card">
              <div class="card-body py-lg-5 py-4">
                <i class="fa fa-university" aria-hidden="true"></i>
                <h5 class="card-title mt-3">Institucional</h5>
              </div>
            </a>
          </div>
          <div class="col-6">
            <a routerLinkActive="active" routerLink="/cadastro/galeria" class="card">
              <div class="card-body py-lg-5 py-4">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <h5 class="card-title mt-3">Galeria</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-6">
            <a routerLinkActive="active" routerLink="/cadastro/modelos" class="card">
              <div class="card-body py-lg-5 py-4">
                <i class="fa fa-female" aria-hidden="true"></i>
                <h5 class="card-title mt-3">Modelos</h5>
              </div>
            </a>
          </div>
          <div class="col-6">
            <a routerLinkActive="active" routerLink="/cadastro/servicos" class="card">
              <div class="card-body py-lg-5 py-4">
                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                <h5 class="card-title mt-3">Serviços</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-md-6 left-models mt-lg-5 mt-3 pt-lg-4">
        <!-- heading title -->
        <div class="">
          <h3 class="title-wthree mb-3">
            Configurações e<span class="mt-2 text-uppercase font-weight-bold">Posts</span></h3>
          <p class="">Escolha a categoria de edição ao lado pra acessar os componentes de configuração ou volte para a
            home.</p>
          <a routerLinkActive="active" routerLink="/home" class="btn button-3 button-style mt-5">Voltar Para Home</a>
        </div>
        <!-- //heading title -->
      </div>
    </div>
  </div>
</div>
<!-- //categories -->