<!-- grids -->
<div class="serives-agile py-5 bg-light">
  <div class="container py-xl-5 py-lg-3">
    <div class="row support-bottom">
      <div class="col-lg-4 support-grid">
        <div class="back-icon-wthree bg-white p-5">
          <div class="bg-light p-lg-4 p-3 icon-button-ab">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
          <h5 class="text-dark mt-4 mb-3">Agende Agora</h5>
          <p>Agende seu horário, atendimento em domicílio.</p>
          <a routerLink="/contato" class="btn button-2 text-dark p-0 mt-4">Clique Aqui<i class="fa fa-caret-right"
              aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-lg-4 support-grid my-lg-0 my-sm-5 my-4">
        <div class="back-icon-wthree bg-white p-5">
          <div class="bg-light p-lg-4 p-3 icon-button-ab">
            <i class="fa fa-camera" aria-hidden="true"></i>
          </div>
          <h5 class="text-dark mt-4 mb-3">Meus Projetos</h5>
          <p>Visite minha galeria e veja alguns de meus projetos.</p>
          <a routerLink="/galeria" class="btn button-2 text-dark p-0 mt-4">Clique Aqui<i class="fa fa-caret-right"
              aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-lg-4 support-grid">
        <div class="back-icon-wthree bg-white p-5">
          <div class="bg-light p-lg-4 p-3 icon-button-ab">
            <i class="fa fa-female" aria-hidden="true"></i>
          </div>
          <h5 class="text-dark mt-4 mb-3">Meu Blog</h5>
          <p>Dicas de maquiagem, beleza e auto estima.</p>
          <a routerLink="/blog" class="btn button-2 text-dark p-0 mt-4">Clique Aqui<i class="fa fa-caret-right"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //grids -->