<!-- banner -->
<div class="main-banner-abl-2">
</div>
<!-- //banner -->

<!-- page details -->
<div class="breadcrumb-agile">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Serviços</li>
    </ol>
  </nav>
</div>
<!-- //page details -->

<!-- beautyServices -->
<!-- heading title -->
<div class="banner-bottom-agile text-center py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="text-center mb-lg-5 mb-4">
      <h3 class="title-wthree mb-2">
        Mais Sobre<span class="mt-2 text-uppercase font-weight-bold">Serviços</span></h3>
    </div>
  </div>
</div>
<!-- //heading title -->

<!-- parallax -->
<div class="middle-abl parallax-banner1 py-5">
  <div class="container py-xl-5 py-lg-3">
    <h3>Todos os serivçidsa</h3>
    <p class="my-md-4 my-2">dasdsadsafds das dasd asd asd as das dsa</p>
    <a routerLink="/contato" class="btn button-3 button-style mt-5">Contate-me</a>
  </div>
</div>
<!-- //parallax -->
<!-- //beautyServices -->