<!-- subscribe -->
<div class="calls-agile py-5">
  <div class="container py-xl-5 py-md-3">
    <div class="row">
      <div class="col-xl-7 mt-xl-3">
        <div class="subscribe-info-abl text-center bg-white rounded p-md-5 py-md-0 py-5 px-md-0 px-4">
          <form action="#" method="post" class="bg-light p-4">
            <i class="fa fa-envelope mr-sm-3 mr-2" aria-hidden="true"></i>
            <input type="email" name="email" placeholder="Insira seu Email..." required="">
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
      <div class="col-xl-5 left-models pl-xl-5 mt-xl-0 mt-sm-5 mt-4">
        <!-- heading title -->
        <div class="">
          <h3 class="title-wthree mb-3"><span class="mt-2 text-uppercase font-weight-bold">Até 40% de Desconto</span></h3>
          <p class="">Se inscreva na Newsletter ao lado para receber promoções e ofertas ótimas ou entre em contato
            comigo.</p>
          <a routerLink="/contato" class="btn button-3 button-style mt-5">Contate-me</a>
        </div>
        <!-- //heading title -->
      </div>
    </div>
  </div>
</div>
<!-- //subscribe -->