<!-- banner -->
<div class="main-banner-abl-2">
</div>
<!-- //banner -->

<!-- welcome section -->
<div class="banner-bottom-agile text-center py-5">
  <div class="container py-xl-5 py-lg-3">
    <!-- heading title -->
    <div class="mb-lg-5 mb-sm-4 mb-3">
      <h3 class="title-wthree mb-2">
        Cadastro<span class="mt-2 text-uppercase font-weight-bold">Galeria</span></h3>
    </div>
    <!-- //heading title -->
    <p class="para-bottom-wthree">Upload de imagens para sua galeria. crie, remova ou altere atributos das imagens. </p>
  </div>
</div>
<!-- //welcome section -->

<!-- Gallery Editor -->
<div class="container">
  <div class="dropzone" (click)="fileInput.click()" (filesChangeEmiter)="onDropFile($event)" appDropZone>
    <div class="text-wrapper py-lg-5">
      <input type="file" (change)="onGetFile($event)" #fileInput hidden>
      <h5 class="text-center card-title mt-3">Arraste e solte seu arquivo, ou clique para enviar</h5>
    </div>
  </div>
</div>

<div class="serives-agile py-5 bg-light">
  <div class="container py-xl-5 py-lg-3">
    <div class="row support-bottom">
      <div *ngFor="let image of images; let i=index; let editing=false" class="col-md-4 col-lg-3 support-grid mb-3">
        <div class="back-icon-wthree bg-white">
          <div class="bg-light thumbnail-data">
            <img (click)="open(i)" [src]="image.thumb" [alt]="image.caption">
          </div>
          <div class="p-lg-3 icon-button-ab icon-options">
            <i (click)="editing = true" class="fa fa-edit px-4" aria-hidden="true"></i>
            <i (click)="deleteImage(i)" class="fa fa-trash px-4" aria-hidden="true"></i>
            <i (click)="(image.modelsList = !image.modelsList) && updateImage(i)" class="fa px-4" aria-hidden="true"
              [ngClass]="image.modelsList ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
          </div>
          <p class="px-4" *ngIf="!editing">{{image.caption}}</p>
          <div *ngIf="editing" class="form-group">
            <input type="text" [(ngModel)]="image.caption" placeholder="Digite a descrição da imagem" class="form-control" />
            <button class="btn btn-danger" (click)="editing = false">Cancelar</button>
            <button class="btn btn-primary" (click)="updateImage(i) &&  editing = false">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Gallery Editor -->

<app-categories></app-categories>