.swiper-slide img {
  border-radius: 20px;
}
.swiper-slide-next img,
.swiper-slide-prev img {
  position: relative;
  transform: translate3d(0, 0, 0);
}
.swiper-slide:nth-child(even) {
  margin-top: 1.5em;
}
.swiper-button-disabled {
  display: none;
}

@media (max-width: 991px) {
  .swiper-slide.col-md-3 {
    padding: 0 0.5em;
  }
}
@media (max-width: 736px) {
  .swiper-slide img {
    border-radius: 10px;
  }
  .swiper-slide:nth-child(even) {
    margin-top: 1em;
  }
}
